button {
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    background: none;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

#inputForm {
    align-items: center;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: -30px;
    justify-content: center;
}

#submitButton, #newPasteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    font-weight: normal;
    min-width: 100px;
}

#submitButton:hover, #newPasteButton:hover {
    background-color: darkblue;
}
.button-container a {
    margin: 10px;
    display: inline-flex;
    margin-bottom: -50px;
}

#downloadButton,
#deleteButton {
    background: none;
    padding: 0;
    margin: 0;
    margin-bottom: -50px;
}

.icon {
    width: 30px;
    height: 30px;
}
button {
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
