body {
    font-family: Arial, sans-serif;
    margin: 20px;
    /*transform: rotate(5deg);*/
    padding-top: 50px;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;
}

body.light {
    background-color: #ffffff;
    color: #000000;
}

body.dark {
    background-color: #222222;
    color: #ffffff;
}
a.light {
    color: blue;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
.container {
    display: flex;
    width: 100%;
    max-width: 800px;
    flex-grow: 1;
    overflow-x: auto;
    position: relative;
}
.timestamps, .data {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    flex: 1;
    overflow-x: auto;
    font-size: 16px;
    min-height: 3em;
    transition: background-color 0.5s, color 0.5s;
}
.left-box {
    display: flex;
    flex-direction: column; 
    margin-right: 10px; 
}
.data-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}
body.dark .timestamps, body.dark .data {
    background-color: #333333;
    color: #ffffff;
}

#inputForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    align-items: flex-start;
    margin-bottom: 10px;
}

#input {
    width: 100%;
    min-height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: green;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#downloadButton {
    padding: 7px;
    background-color: blue;
    font-size: 13px;
    width: 100%;
    max-width: 100px;
    margin: 5px auto;
}

#deleteButton {
    padding: 5px 10px;
    background-color: red;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#themeToggle {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 50px;
}

.toggle {
    display: flex;
    align-items: center;
    width: 60px;
    height: 34px;
    right: 0;
    background-color: #ccc;
    border-radius: 34px; 
    transition: background-color 0.3s;
    margin-left: 85%; 
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: relative;

    width: 100%;
    height: 100%;
    border-radius: 34px; 
    transition: background-color 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 34px;
    width: 34px;
    bottom: 0; 
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

input:checked + .slider {
    background-color: #4caf50; 
}

input:checked + .slider::before {
    transform: translateX(26px);
}

.icon {
    font-size: 24px; 
    margin-right: 10px;
    padding-bottom: 50px;
    top: 0;
    right: 0;
    left: 0;
}

h1 {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}

#expirationMessage {
    font-size: 16px;
    margin-bottom: 20px;
}